# Python
__pycache__/
*.py[cod]
*$py.class

# Virtual Environment
venv/
env/
.venv/

# Django
db.sqlite3
media/
staticfiles/

# Environment Variables
.env

# VS Code
.vscode/

# GitHub Codespaces
.devcontainer/

# Logs
*.log

# OS Files
.DS_Store
Thumbs.db

# Python Packaging
build/
dist/
*.egg-info/

# Pytest
.pytest_cache/

# Mypy
.mypy_cache/

# Coverage
.coverage
htmlcov/
